body {
  background: url(../images/wordGuess-background.jpg);
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}

.game-container {
  margin-top: 50px; 
  background: rgba(255,255,255, 0.3);
}

.game-text {
  text-align: center;
}

.btn-container {
  display: block;
  width: 100%;
}

.text-container {
  font-size: 40px;
  text-align: center;
  color: #fff;
}

.fa-check {
  font-size: 300px;
  color: green;
}

.fa-times {
  font-size: 300px;
  color: red;
}

.fa-sad-cry {
  font-size: 300px;
  color: yellow;
}

.fa-grin-stars {
  font-size: 300px;
  color: yellow;
}